@charset "utf-8";
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,
small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,
aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,
nav,output,ruby,section,summary,time,mark,audio,video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,aside,details,figcaption,figure,footer,header,hgroup,menu,
nav,section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input:focus {
  outline: none;
}
a {
  color: inherit;
  text-decoration: none;
}
*, *::before, *::after {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}
/* 텍스트 마우스 드래그시 색상 변경방법 */
::selection,
::-moz-selection {
    background : #39f;
    color      : #fff;
    text-shadow: none;
}
link {
    display: none;
}
html {
    font-family: 'Noto Sans KR', 'Roboto Slab', sans-serif;
      /* `font` 속성 리셋 */
    font-size                  : 62.5%;
    /* 기본 글꼴 사이즈 정의            : 16x => 1rem */
    font-weight                : normal;
    line-height                : 1.5;
    /* 단위 쓰지 말것 */
    background-color           : #fff;
    color                      : #4d5058;
    /* 글꼴 크기 조정을 방지 */
    -webkit-text-size-adjust   : 100%;
    /* 폰트를 부드럽게 */
    -webkit-font-smoothing     : antialiased;
    -moz-osx-font-smoothing    : grayscale;
    /* 웹킷 마음대로 눌림 하이라이트 막음 */
    -webkit-tap-highlight-color: transparent;
}